@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap');
html {
    scroll-behavior: smooth;
}
body {
  background: #F6E2E6;
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
}
img {
  max-width: none;
}

.nav-line{
  min-height: 3px;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.nav-line-animate{
  border-bottom: 3px solid #DD2D50;
  border-radius: 10px;
  animation-name: growToRight;
  animation-duration: 0.5s;
}

@keyframes growToRight {
  0% {
      width: 0%;
  }

  100% {
      width: 100%;
  }
}
@keyframes shadowInBlue {
  from {
    boxShadow: 0px 0px 0px rgba(49,104,170,1);
  }

  to {
    boxShadow: 20px 20px 0px rgba(49,104,170,1);
  }
}

@media (max-width: 1280px) {
  body {
    overflow-x: auto;
  }
}